@charset "UTF-8";

@media screen and (max-width: 1024px) {
    .hero_section{
        width: 90vw;
    }

    .sobre{
        width: 98vw;
    }

    .texto-2{
        padding: 1rem;
    }
}


@media screen and (max-width: 992px) {
    .hero_section{
        width: 90vw;
    }

    .avalii{
        height: 75vh;
    }
}

@media screen and (max-width: 768px){

    .container_menu{
        justify-content: center;
    }

    .intens{
        display: none;
    }

    .hero_section{
        flex-direction: column-reverse;
        width: 90vw;
        height: 120vh;
    }

    .imagem{
        justify-content: flex-start;
        height: 70vh;
    }

    .texto{
        width: 80vw;
        height: 40vh;
    }

    .sobre{
        flex-direction: column;
        width: 97.8vw;
        height: 90vh;
    }

    .imagem-2{
        display: none;
    }

    .texto-2{
        height: 50vh;
        width: 80vw;
    }

    .avali{
        flex-direction: column;
        width: 60vw;
        height: 150vh;
    }

    .avalii{
        margin-top: 1rem;
    }

    .locali{
        height: 100vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .locali h3{
        align-self: center;

    }

    .mapa {
        height: 95vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        

    }

    

}

@media  screen and (max-width: 600px) {
    .hero_section{
        width: 90vw;
    }

    .container_menu{
        justify-content: center;
    }

    .intens{
        display: none;
    }

    .sobre{
        width: 100vw;
    }

    .texto-2{
        width: 80vw;
        padding: 0.4rem;
    }

    .avali{
        width: 90rem;
    }
}

